################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
config
.vs
/AresSecurity/packages
debug
release
!/AresSecurity/Dependencies/**
