################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
config
.vs
debug
release
*.zip
REPORT.pdf
